# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env/
.envrc

# =========================
# Logs & temp
# =========================
*.log
*.tmp

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Test / Coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/
